{% extends "base.html.twig" %}


{% block title %}Jonathan Dupau | Mes projets
{% endblock %}

{% block body %}
<main role="main my-5">
    <h1 class="pt-5 title">Mes Projets</h1>
    <h6 class="title sub-title">Du plus récent au plus ancien</h6>
    <h6 class="title sub-title hover-indication">Survolez avec votre souris pour en voir plus</h6>
    <div class="hero-container mt-5 p-5">
        {% for key, project in projects %}
            <div class="main-container" {% if key is even  %}data-aos="fade-up"
        data-aos-duration="2000"{% endif %}{% if key is odd  %}data-aos="fade-down"
        data-aos-duration="2000"{% endif %}>
                <div class="poster-container">
                    <a class="title-mobile" href="/projet/{{project.slug}}">{{project.projet}}</a>
                    <a href="/projet/{{project.slug}}"><img src="/uploads/{{ project.big_img }}" class="poster"/></a>
                </div>
                <div class="ticket-container">
                    <div class="ticket__content">
                        <h4 class="ticket__project-title">{{project.projet}}</h4>
                        <p class="ticket__project-type">
                            Type de projet : {{project.type}}
                        </p>
                        <p class="ticket__technos">{{project.technos}}</p>
                        <small class="text-muted">
                            <a class="more" href="/projet/{{project.slug}}">Plus d'information
                            </a>
                            |
                            <a target="_blank" href="{{project.url}}">Voir le projet</a>
                        </small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</main>
{% endblock %}
