{% extends 'base.html.twig' %}

{% block title %}Se connecter
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3 p-3 bg-danger">
				Vous n'avez pas les droits nécessaires pour cette page, veuillez vous connecter avec un compte administrateur
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<h1 class="h3 mb-3 font-weight-normal text-center title">Merci de vous connecter</h1>
		<section class="form col-6 m-auto">
			<label class="my-2 text-white" for="inputEmail">Email</label>
			<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
			<label class="my-3 text-white" for="inputPassword">Votre Mot de passe</label>
			<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
			<button class="btn btn-lg btn-primary mt-5" type="submit">
				Connexion
			</button>
		</section>
		<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

		{#
		        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
		        See https://symfony.com/doc/current/security/remember_me.html
		
		        <div class="checkbox mb-3">
		            <label>
		                <input type="checkbox" name="_remember_me"> Remember me
		            </label>
		        </div>
		    #}
	</form>
{% endblock %}
