{% extends "base.html.twig" %}

{% block title %}Jonathan Dupau | Accueil{% endblock %}


{% block body %}
    <section id="animated-text">
        <span is="type-async" id="type-text" class="title">...</span>
        <span class="blinking-cursor">_</span>
    </section>
    <section id="profil" class="mt-5">
        <div id="circle-shape-example">
            <img src="/uploads/profil.png" alt="A photograph of sliced kiwifruit on a while plate" class="curve" data-aos="fade-right" data-aos-duration="3000">
            <h1 class="profil-title my-4">Jonathan dupau</h1>
            <p data-aos="fade-left" data-aos-duration="3000">
                Bonjour, <br>
                J'ai 28 ans et je suis un développeur web junior passionné par mon métier,<br>
                Je suis également un grand fan de culture pop et geek ce qui m'apporte une aisance technologique et un
                côté design qui touche un large public.
                <br>
                Je suis de nature optimiste et entreprenant, ce qui me différencie c'est ma créativité et ma stratégie.
                <br>
                Ma motivation est de trouver un environnement de travail dynamique et orienté vers les résultats,<br>
                une structure qui me permette d'exercer ma réflexion et mon innovation.
            </p>
        </div>
    </section>
    <h2 class="title" style="clear:both; margin-top: 100px;">Mes compétences</h2>
    <section id="competence" class="my-5" data-aos="fade-up" data-aos-duration="2000">
        <ul class="honeycomb">
            {% for key, competence in competences %}
                <li class="honeycomb-cell">
                    <img class="honeycomb-cell__image" src="/uploads/{{ competence.img }}">
                    <div class="honeycomb-cell__title">
                        {{ competence.name }}<br>{{ competence.since.getValues()[0].since }}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </section>
    <h2 class="title" style="clear:both; margin-top: 100px;">Mes Expériences</h2>
    <section id="exp">
        <div id="timeline">
            {% for key, experience in experiences %}
                <div class="timeline-item" {% if key is even  %}data-aos="fade-right"
                     data-aos-duration="2000"{% endif %}{% if key is odd  %}data-aos="fade-left"
                     data-aos-duration="2000"{% endif %}>
                    <div class="timeline-icon">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                             xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             width="21px" height="20px" viewBox="0 0 21 20" enable-background="new 0 0 21 20"
                             xml:space="preserve">
                        <path fill="#FFFFFF" d="M19.998,6.766l-5.759-0.544c-0.362-0.032-0.676-0.264-0.822-0.61l-2.064-4.999
                            c-0.329-0.825-1.5-0.825-1.83,0L7.476,5.611c-0.132,0.346-0.462,0.578-0.824,0.61L0.894,6.766C0.035,6.848-0.312,7.921,0.333,8.499
                            l4.338,3.811c0.279,0.246,0.395,0.609,0.314,0.975l-1.304,5.345c-0.199,0.842,0.708,1.534,1.468,1.089l4.801-2.822
                            c0.313-0.181,0.695-0.181,1.006,0l4.803,2.822c0.759,0.445,1.666-0.23,1.468-1.089l-1.288-5.345
                            c-0.081-0.365,0.035-0.729,0.313-0.975l4.34-3.811C21.219,7.921,20.855,6.848,19.998,6.766z"/>
                    </svg>
                    </div>
                    <div class="timeline-content {% if key is not divisible by(2)  %}right{% endif %}">
                        <div class="exp-title">
                            <h4>{{ experience.title }}</h4>
                            <h5>{{ experience.society.name}} | {{ experience.society.adress }}</h5>
                            <h6>{{ experience.date }}</h6>
                        </div>
                        <ul>
                            {% for mission in experience.missions.getValues %}
                                <li>
                                    {{ mission.mission }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{#    {% dump experiences[0].society.name %}#}
{% endblock %}
