{% extends "base.html.twig" %}


{% block title %}
	Projet |
	{{project.name}}
{% endblock %}

{% block body %}
	<h1 class="my-5 pt-5 title">Projet |
		{{project.name}}</h1>
	<div class="row mb-5 container-fluid p-5">
		<div class="col-md-4 my-5">
			<img class="card-img-top" src="/uploads/{{ project.bigImg }}" alt="illustration de {{project.name}}">
		</div>
		<div class="col-md-8 my-5">
			<div class="card">
				<div class="card-body">
					<p class="card-text text-dark p-5">{{project.description}}</p>
				</div>
			</div>
			<div class="card my-5">
				<div class="card-body bg-secondary">
					<h3 class="card-text text-light">Problèmes rencontrés :</h3>
					<p class="card-text text-light">{{project.problems}}</p>
				</div>
			</div>
			<div class="card my-5">
				<div class="card-body bg-success">
					<h3 class="card-text text-light">Solutions apportées :</h3>
					<p class="card-text text-light">{{project.solutions}}</p>
				</div>
				<div class="card-footer">
					<p class="card-text">
						Type de projet : <br>
						- {{project.type.name}}</p>
					<p class="card-text text-muted">
						Language utilisés : <br>
						{% for techno in technos %}
							|
							{{ techno.name }}
							|
						{% endfor %}
					</p>
					<small class="text-muted">
						<a target="_blank" href="{{project.url}}">Voir le projet</a>
					</small>
				</div>
			</div>
			<a class="nav-link text-white text-right" href="{{ path('app_projects') }}">
				<i class="fa-solid fa-arrow-left"></i> Retour aux projets</a>
		</div>
	</div>

{% endblock %}
