.title {
    text-align: center;
    margin: 50px;
    color: #ff2c75;
    font-size: 3em;
}

.sub-title {
    font-size: 1em !important;
}

body  {
    background: #353A47 !important;
    main {
        width: 100%;
    }
    p {
        color : whitesmoke;
    }
}
hr {
    background: white;
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media(min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}