@keyframes bounce {
    0%, 100%, 20%, 50%, 80% {
        -webkit-transform: translateY(0);
        -ms-transform:     translateY(0);
        transform:         translateY(0)
    }
    40% {
        -webkit-transform: translateY(-30px);
        -ms-transform:     translateY(-30px);
        transform:         translateY(-30px)
    }
    60% {
        -webkit-transform: translateY(-15px);
        -ms-transform:     translateY(-15px);
        transform:         translateY(-15px)
    }
}
footer.footer-custom {
    padding: 10px 50px;
    font-size: 1.25em;
    background: #FDF7FA;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    h4 {
        color: #ff2c75;
        text-align: center;
    }
    ul.socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        color: #ff2c75;
        list-style: none;
        gap: 20px;
        margin: 20px auto;
        padding: 0;
        li {
            a {
                i {
                    color: #ff2c75;
                    -webkit-animation-duration: 1s;
                    animation-duration: 1s;
                    -webkit-animation-fill-mode: both;
                    animation-fill-mode: both;
                    -webkit-animation-timing-function: ease-in-out;
                    animation-timing-function: ease-in-out;
                    animation-iteration-count: infinite;
                    -webkit-animation-iteration-count: infinite;
                    &:hover {
                        cursor: pointer;
                        animation-name: bounce;
                        -moz-animation-name: bounce;
                    }
                }
            }
        }
    }
}


@media (max-width: 715px) {
    footer.footer-custom {
        padding: 15px 25px;
        font-size: 1em;
        background: #FDF7FA;
    }
}