section#animated-text {
    padding: 0 10%;
    white-space: nowrap;
    width: 100%;
    margin: auto;
    text-align: center;
    color: white;
    span#type-text {

    }
    .blinking-cursor {
        user-select: none;
        animation: blink 1s steps(2, start) infinite;
    }
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}

section#profil {
    margin: 20px auto;
    width: 85%;
    padding-left: 50px;
    padding-top: 20px;

    #circle-shape-example {
        font-family: Open Sans, sans-serif;
        margin: 3rem;

        h1.profil-title {
            color: #ff2c75;
            font-size: 2em;
        }

        p {
            line-height: 2;
            font-size: 1.1em;
            width: 95%;
        }

        img.curve {
            width: 25%;
            height: auto;
            min-width: 150px;
            float: left;
            margin-right: 3rem;
            border-radius: 50%;
            -webkit-shape-outside: circle();
            shape-outside: circle();
            border: 5px solid #ff2c75;
            box-shadow: 1px 5px 20px #ff2c75;
        }
    }
}

section#competence {
    width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
    clear: both;
}


// Variables
$bg-body: #f9f9f9;

$red: #ee4d4d;
$blue: #2b2e48;
$primary-color: rgba(255, 44, 117, 0.4);
$secondary-color: $blue;


// Typography
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-color: #726f77;

// Timeline
$timeline-color: $primary-color;


// Mixins and Placeholders
%clearfix {
    &:after, &:before {
        content: '';
        display: block;
        width: 100%;
        clear: both;
    }
}

@mixin prefix($prop, $val) {
    @each $prefix in '-webkit-', '-moz-', '-ms-', '' {
        #{$prefix}#{$prop}: $val;
    }
}

.project-name {
    text-align: center;
    padding: 10px 0;
}


////////////////// Timeline
section#exp {
    width: 80%;
    margin: auto;

    #timeline {
        width: 100%;
        margin: 30px auto;
        position: relative;
        padding: 0 10px;
        @include prefix(transition, all .4s ease);

        &:before {
            content: "";
            width: 3px;
            height: 100%;
            background: $timeline-color;
            left: 50%;
            top: 0;
            position: absolute;
        }

        &:after {
            content: "";
            clear: both;
            display: table;
            width: 100%;
        }

        .timeline-item {
            margin-bottom: 50px;
            position: relative;
            @extend %clearfix;

            .timeline-icon {
                background: $timeline-color;
                width: 50px;
                height: 50px;
                position: absolute;
                top: 0;
                left: 50%;
                overflow: hidden;
                margin-left: -23px;
                @include prefix(border-radius, 50%);

                svg {
                    position: relative;
                    top: 14px;
                    left: 14px;
                }
            }

            .timeline-content {
                width: 45%;
                background: #fff;
                @include prefix(box-shadow, 0 3px 0 rgba(0, 0, 0, 0.1));
                @include prefix(border-radius, 5px);
                @include prefix(transition, all .3s ease);

                ul {
                    li {
                        color: #353a47;
                        padding: 20px;
                    }
                }

                div.exp-title {
                    background: $timeline-color;
                    padding: 20px;
                    h4 {
                        font-weight: 700;
                    }
                    h4, h5, h6 {
                        color: #fff;
                        @include prefix(border-radius, 3px 3px 0 0);
                    }
                }

                &:before {
                    content: '';
                    position: absolute;
                    left: 45%;
                    top: 20px;
                    width: 0;
                    height: 0;
                    border-top: 7px solid transparent;
                    border-bottom: 7px solid transparent;
                    border-left: 7px solid $timeline-color;
                }

                &.right {
                    float: right;

                    &:before {
                        content: '';
                        right: 45%;
                        left: inherit;
                        border-left: 0;
                        border-right: 7px solid $timeline-color;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    #timeline {
        margin: 30px;
        padding: 0px;
        width: 90%;

        &:before {
            left: 0;
        }

        .timeline-item {
            .timeline-content {
                width: 90%;
                float: right;

                &:before, &.right:before {
                    left: 10%;
                    margin-left: -6px;
                    border-left: 0;
                    border-right: 7px solid $timeline-color;
                }
            }

            .timeline-icon {
                left: 0;
            }
        }
    }
}

@media (max-width: 715px) {
    section#profil {
        width: 100%;
        margin: 30px 0px;

        #circle-shape-example {
            img.curve {
                width: 60%;
                border: 5px solid #ff2c75;
            }
        }
    }
    section#exp {
        #timeline {
            margin: 30px;
            padding: 0px;
            width: 90%;

            &:before {
                left: 0;
            }

            .timeline-item {
                .timeline-content {
                    width: 90%;
                    float: right;

                    &:before, &.right:before {
                        left: 10%;
                        margin-left: -6px;
                        border-left: 0;
                        border-right: 7px solid $timeline-color;
                    }
                }

                .timeline-icon {
                    left: 0;
                }
            }
        }
    }
}

