// Navigation top bar
nav#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 50px;
    font-size: 2em;
    background: #FDF7FA;
    a {
        display: block;
        text-decoration: none;
        color: #ff2c75;
        &:hover {
            text-decoration: none;
            color: #ff2c75;
        }
        &:link {
            text-decoration: none;
            color: #ff2c75;
        }
        &:visited {
            text-decoration: none;
            color: #ff2c75;
        }
        &:active {
            text-decoration: none;
            color: #ff2c75;
        }
    }
    p {
        display: inline;
        cursor: pointer;
        color: #ff2c75;
        &:hover {
            color: #ff2c75;
        }
    }
}
section#main-menu {
    display: none;
    width: 100%;
}

// === Variables =====
$perspective:     60rem;
$font-size:       4.25rem;
$split-position:  49%;
$split-thickness: 4px;
$split-color:     #FF2C75;

// === Settings =====
%font-settings {
    font-family: "Gilroy ExtraBold", system-ui, sans-serif;
    font-style: normal;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-font-kerning: normal;
    -webkit-text-size-adjust: 100%;
}

// === Menu <ul> =====
.Menu-list {
    font-size: $font-size;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotateX(-10deg) rotateY(20deg); // overwritten by JS
}
li#test {
    margin-left: 200px;
}

// === Menu item =====
.Menu-list-item {
    position: relative;
    color: transparent;
    cursor: pointer;
    &:hover > .Mask {
        color: white;
    }


    // === Split Line =====
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: $split-position;
        left: -10%;
        right: -10%;
        height: $split-thickness;
        border-radius: $split-thickness;
        margin-top: -($split-thickness / 2);
        background: $split-color;
        transform: scale(0);
        transition: transform .8s cubic-bezier(.16,1.08,.38,.98);
        z-index: 1;
    }
}

// === Top/bottom mask =====
.Mask {
    display: block;
    position: absolute;
    overflow: hidden;
    color: $split-color;
    top: 0;
    height: $split-position;
    transition: all .8s cubic-bezier(.16,1.08,.38,.98);

    a {
        display: block;
        text-decoration: none;
        color: #ff2c75;
        &:hover {
            text-decoration: none;
            color: #ffffff;
        }
        a:link, a:visited, a:active  {
            text-decoration: none;
            color: #ff2c75;
        }
    }
}

// === Bottom mask specific =====
.Mask + .Mask {
    top: $split-position - 0.1;
    height: 100 - $split-position + 0.1;

    a { transform: translateY(-$split-position); }
}

// === Where the fun stuff happens =====
.Menu-list-item:hover,
.Menu-list-item:active {
    .Mask { color: #FFF;
        transform: skewX(12deg) translateX(5px);
    }
    .Mask + .Mask {
        transform: skewX(12deg) translateX(-5px);
    }
    &::before {
        transform: scale(1);
    }
}

@media (max-width: 715px) {
    nav#main-nav {
        padding: 15px 25px;
        font-size: 1em;
        background: #FDF7FA;
    }
    .Menu-list {
        font-size: 2.25rem;
    }
}

