@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
.hover-indication {
    margin: 0;
}

.hero-container {
    display: grid;
    width: 100%;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(12, 1fr);
}

.main-container {
    width: 270px;
    height: 500px;
    position: relative;
    margin: 10px 20px;
    grid-column: span 3;
}

.poster-container {
    width: 230px;
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    a {
        img {
            object-fit: cover;
            width: 230px;
            height: 300px;
            box-shadow: 0 20px 40px 3px rgba(0, 0, 0, 0.6);
        }
    }
    a.title-mobile {
        display: none;
    }
}

.ticket-container {
    background: #fff;
    width: 270px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    position: absolute;
    top: 20px;
    box-shadow: 0 5px 20px 3px rgba(0, 0, 0, 0.6);
    opacity: 0;
    margin: 20px 0px;
}

.main-container:hover .ticket-container {
    opacity: 1;
    animation: bounceIn 0.6s linear;
}

@keyframes bounceIn {
    0%,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    20% {
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }
    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.01, 1.01, 1.01);
        transform: scale3d(1.01, 1.01, 1.01);
    }
    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
        opacity: 1;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

/* @keyframes bounce {
  50% {
    opacity: 1;
    transform: scale(1.1);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
} */

.ticket__content {
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
}

.ticket__project-title {
    text-transform: uppercase;
    margin-bottom: 5px;
    color : #ff2c75;
}

.ticket__project-type {
    color: #999;
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.ticket__technos {
    color: #43cdf7;
    font-size: 1rem;
    font-weight: bold;
}
small {
    a.more {
        color: #ff2c75 !important;
    }
}

.ticket__old-price {
    color: #999;
    text-decoration: line-through;
    margin-bottom: 10px;
}

.ticket__buy-btn {
    cursor: pointer;
    width: 100%;
    background: #2f2f2f;
    color: white;
    padding: 15px 0;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    border: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

@media (max-width: 715px) {
    .hover-indication {
        display: none;
    }
    .main-container {
        grid-column: span 12;
        height: 400px;
    }
    .hero-container {
        margin-left: 10px;
    }
    .poster-container {
        a.title-mobile {
            display: block;
            font-size: 1.5em;
            margin: 10px auto;
            text-align: center;
            color: #ff2c75;
            &:visited {
                text-decoration: none;
                color: #ff2c75;
            }
        }
    }
}
@media screen and (min-width: 715px) and (max-width: 1115px) {
    .hover-indication {
        display: none;
    }
    .main-container {
        grid-column: span 6;
        height: 500px;
    }
}

