{% extends 'base.html.twig' %}

{% block title %}Jonathan Dupau | Contact
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

    <h1 class="text-center title">Rencontrons nous !</h1>
    <div class="row my-5 mx-auto p-5 d-flex justify-content-center align-items-center">
        <div class="text-white mb-5"  data-aos="fade-right" data-aos-duration="2000">
            <h5>Une question ? Un besoin ? écrivez-moi ! <br>
                je prendrais le temps de traiter votre demande dans les plus brefs délais !</h5>
            {{ form(form) }}
        </div>
        <div class="mx-5"  data-aos="fade-left" data-aos-duration="2000">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90501.44710659815!2d-0.6409456345584341!3d44.858829336183824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd5527e8f751ca81%3A0x796386037b397a89!2sBordeaux!5e0!3m2!1sfr!2sfr!4v1650960952425!5m2!1sfr!2sfr"
                    width="400" height="400" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
{% endblock %}
