<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Boutique qui vend uniquement du 100% made in France">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Jekyll v4.1.1">
    <title>
        {% block title %}Jonathan Dupau
        {% endblock title %}
    </title>

    <!-- Bootstrap core CSS -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{{ asset('/build/app.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ddf5614628.js" crossorigin="anonymous"></script>
</head>
<body>
<nav id="main-nav" class="mb-5">
    <a href="{{ path('home') }}">Jonathan Dupau</a>
    <p id="hamburger">Menu</p>
</nav>
<section id="main-menu" class="full-header my-5">
    <nav class="full-page-nav">
        <div class="Menu">
            <ul class="Menu-list" data-offset="10">
                <li class="Menu-list-item" data-offset="20" onclick>
                    Home
                    <span class="Mask"><a href="{{ path('home') }}">Accueil</a></span>
                    <span class="Mask"><a href="{{ path('home') }}">Accueil</a></span>
                </li>
                <li class="Menu-list-item" data-offset="16" onclick>
                    About
                    <span class="Mask"><a href="{{ path('app_projects') }}">Projets</a></span>
                    <span class="Mask"><a href="{{ path('app_projects') }}">Projets</a></span>
                </li>

                <li class="Menu-list-item" data-offset="12" onclick>
                    Work
                    <span class="Mask"><a href="{{ path('app_contact') }}">Contact</a></span>
                    <span class="Mask"><a href="{{ path('app_contact') }}">Contact</a></span>
                </li>
                <li id="test" class="Menu-list-item" data-offset="8" onclick>
                    Contact
                    <span class="Mask"><a target="_blank" href="{{ path('app_cv') }}">CV</a></span>
                    <span class="Mask"><a target="_blank" href="{{ path('app_cv') }}">CV</a></span>
                </li>
            </ul>
        </div>
    </nav>
</section>
    {% block body %}
    {% endblock body %}
    <br><br>

<footer class="footer-custom">
    <h4>
        Portfolio
    </h4>
    <h4>
        &copy; 2022 Jonathan Dupau
    </h4>
    <ul class="socials">
        <li><a target="_blank" href="https://github.com/Jonathan2433"><i class="fa-brands fa-github fa-2xl"></i></a></li>
        <li><a target="_blank" href="https://gitlab.com/jonathan_dupau"><i class="fa-brands fa-gitlab fa-2xl"></i></a></li>
        <li><a target="_blank" href="https://www.linkedin.com/in/jonathan-dupau-43565a1a0/"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
        <li><a target="_blank" href="https://www.twitch.tv/dev_optic"><i class="fa-brands fa-twitch fa-2xl"></i></a></li>
    </ul>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
<script src="{{ asset('assets/js/navbar.js') }}"></script>
<script src="{{ asset('assets/js/animated-text.js') }}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>
</html>
